# 생활인구 데이터(서울열린데이터광장, 서울특별시)

In [1]:
import pandas as pd
import numpy as np

In [2]:
floating_population = pd.read_csv("D:/MultiCampus/DATAexam/융복합/ConvergenceProject-School_Violence-main/Data/2. Preprocessing_Data/Data/LOCAL_PEOPLE_GU_2021.csv", encoding='CP949')
floating_population

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20210101,0,11110,194924.6184,4920.3837,2992.2011,4479.0239,7799.4338,8270.0476,6591.1392,...,7513.2691,6532.6210,7281.9873,7159.4938,8479.3144,7389.4164,8051.4425,6722.6436,5109.8562,15036.7700
1,20210101,0,11140,148826.8808,3354.1662,1376.5528,2368.3576,4868.7237,6945.7261,6640.6784,...,7110.3397,6713.5499,7244.8277,5420.8522,5795.2854,4829.2206,5617.3479,4846.5084,3847.0501,9823.1857
2,20210101,0,11170,250141.2136,7083.5939,3542.5572,5294.7572,7602.9197,9970.4226,11424.4500,...,10681.6414,11129.4982,12831.7555,10190.8974,10715.4628,8839.3659,9417.1985,8353.8373,5899.2935,16888.6424
3,20210101,0,11200,315490.0745,11513.7075,4873.2608,6427.3620,9447.8712,12296.0848,12453.8504,...,12707.7943,13462.4842,15997.2596,12525.5609,12903.9998,10991.7768,12442.7269,10785.3456,7925.9533,20678.4090
4,20210101,0,11215,360268.0149,10668.3623,5764.4680,9216.3402,12610.7515,16765.3160,15174.9819,...,17406.2677,15460.2633,15679.1837,13760.7719,14761.8863,13689.3575,14573.9438,12408.8341,8957.7143,20651.2597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218995,20211231,23,11620,472514.0761,11459.7460,5587.5167,9246.5077,18907.9663,31630.4011,25874.5206,...,27657.9259,20556.6298,19093.2494,15704.3718,16656.3598,15146.7999,16492.3015,14879.3203,12008.2245,29786.2623
218996,20211231,23,11650,455062.9561,19787.1947,10682.4784,13954.8801,12218.0882,13859.9908,15248.2675,...,14424.0264,16067.1612,20992.0304,20998.7721,22433.3375,16798.5863,15450.9244,13399.7482,11023.4122,26408.4854
218997,20211231,23,11680,626466.4158,24454.1035,15836.2983,21877.8836,17167.4107,21281.2474,22822.7317,...,23086.3151,23453.2183,28196.1925,28974.8318,31343.5098,21532.9109,19701.3446,17174.8688,14571.0011,34306.4306
218998,20211231,23,11710,712411.1104,30428.8846,15366.8198,20377.0469,18965.2072,24192.2124,26429.5933,...,25489.0412,27829.3396,34237.0376,30491.9252,30678.1327,26101.4104,28698.9175,24997.5744,19119.4128,40250.2444
218999,20211231,23,11740,524319.2164,21095.4564,12006.9656,14574.3609,13118.0621,16176.9547,17415.4066,...,17141.8310,18817.7341,23594.2146,21721.1200,22377.6210,19549.5054,22154.7722,20360.2661,15934.1844,34850.0792

In [3]:
display(floating_population.head())
display(floating_population.tail())
print(floating_population.columns)

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20210101,0,11110,194924.6184,4920.3837,2992.2011,4479.0239,7799.4338,8270.0476,6591.1392,...,7513.2691,6532.6210,7281.9873,7159.4938,8479.3144,7389.4164,8051.4425,6722.6436,5109.8562,15036.7700
1,20210101,0,11140,148826.8808,3354.1662,1376.5528,2368.3576,4868.7237,6945.7261,6640.6784,...,7110.3397,6713.5499,7244.8277,5420.8522,5795.2854,4829.2206,5617.3479,4846.5084,3847.0501,9823.1857
2,20210101,0,11170,250141.2136,7083.5939,3542.5572,5294.7572,7602.9197,9970.4226,11424.4500,...,10681.6414,11129.4982,12831.7555,10190.8974,10715.4628,8839.3659,9417.1985,8353.8373,5899.2935,16888.6424
3,20210101,0,11200,315490.0745,11513.7075,4873.2608,6427.3620,9447.8712,12296.0848,12453.8504,...,12707.7943,13462.4842,15997.2596,12525.5609,12903.9998,10991.7768,12442.7269,10785.3456,7925.9533,20678.4090
4,20210101,0,11215,360268.0149,10668.3623,5764.4680,9216.3402,12610.7515,16765.3160,15174.9819,...,17406.2677,15460.2633,15679.1837,13760.7719,14761.8863,13689.3575,14573.9438,12408.8341,8957.7143,20651.2597

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
218995,20211231,23,11620,472514.0761,11459.7460,5587.5167,9246.5077,18907.9663,31630.4011,25874.5206,...,27657.9259,20556.6298,19093.2494,15704.3718,16656.3598,15146.7999,16492.3015,14879.3203,12008.2245,29786.2623
218996,20211231,23,11650,455062.9561,19787.1947,10682.4784,13954.8801,12218.0882,13859.9908,15248.2675,...,14424.0264,16067.1612,20992.0304,20998.7721,22433.3375,16798.5863,15450.9244,13399.7482,11023.4122,26408.4854
218997,20211231,23,11680,626466.4158,24454.1035,15836.2983,21877.8836,17167.4107,21281.2474,22822.7317,...,23086.3151,23453.2183,28196.1925,28974.8318,31343.5098,21532.9109,19701.3446,17174.8688,14571.0011,34306.4306
218998,20211231,23,11710,712411.1104,30428.8846,15366.8198,20377.0469,18965.2072,24192.2124,26429.5933,...,25489.0412,27829.3396,34237.0376,30491.9252,30678.1327,26101.4104,28698.9175,24997.5744,19119.4128,40250.2444
218999,20211231,23,11740,524319.2164,21095.4564,12006.9656,14574.3609,13118.0621,16176.9547,17415.4066,...,17141.8310,18817.7341,23594.2146,21721.1200,22377.6210,19549.5054,22154.7722,20360.2661,15934.1844,34850.0792

Index(['기준일ID', '시간대구분', '자치구코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수',
       '여자70세이상생활인구수'],
      dtype='object')

In [4]:
# 필요한 컬럼만 추출
floating_population_sliced = floating_population[['기준일ID','시간대구분','자치구코드','남자15세부터19세생활인구수','여자15세부터19세생활인구수']]
floating_population_sliced

           기준일ID  시간대구분  자치구코드  남자15세부터19세생활인구수  여자15세부터19세생활인구수
0       20210101      0  11110        4479.0239        4782.3513
1       20210101      0  11140        2368.3576        2663.7784
2       20210101      0  11170        5294.7572        5091.9904
3       20210101      0  11200        6427.3620        7086.5980
4       20210101      0  11215        9216.3402        8617.4295
...          ...    ...    ...              ...              ...
218995  20211231     23  11620        9246.5077        8901.6030
218996  20211231     23  11650       13954.8801       13411.1940
218997  20211231     23  11680       21877.8836       20345.6657
218998  20211231     23  11710       20377.0469       18861.7192
218999  20211231     23  11740       14574.3609       13015.0784

[219000 rows x 5 columns]

In [5]:
# 저장 후 주석처리 
# floating_population_sliced.to_csv("D:/MultiCampus/DATAexam/융복합/ConvergenceProject-School_Violence-main/Data/2. Preprocessing_Data/Data/서울_생활인구", encoding='utf-8', index=False)

In [6]:
#행정구역코드 매핑정보
code = pd.read_excel("D:/MultiCampus/DATAexam/융복합/ConvergenceProject-School_Violence-main/Data/2. Preprocessing_Data/Data/자치구코드.xlsx")
code

    RESD_CD RESD_DO_NM RESC_CT_NM Unnamed: 3 Unnamed: 4
0     11110         서울        종로구        NaN        NaN
1     11140         서울         중구        NaN        NaN
2     11170         서울        용산구        NaN        NaN
3     11200         서울        성동구        NaN        NaN
4     11215         서울        광진구        NaN        NaN
..      ...        ...        ...        ...        ...
86    45000         전북        NaN        NaN        NaN
87    46000         전남        NaN        NaN        NaN
88    47000         경북        NaN        NaN        NaN
89    48000         경남        NaN        NaN        NaN
90    50000         제주        NaN        NaN        NaN

[91 rows x 5 columns]

In [7]:
code.columns

Index(['RESD_CD', 'RESD_DO_NM', 'RESC_CT_NM', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [8]:
code.drop('Unnamed: 3', axis=1, inplace=True)
code.drop('Unnamed: 4', axis=1, inplace=True)
code.drop('RESD_DO_NM', axis=1, inplace=True)
code

    RESD_CD RESC_CT_NM
0     11110        종로구
1     11140         중구
2     11170        용산구
3     11200        성동구
4     11215        광진구
..      ...        ...
86    45000        NaN
87    46000        NaN
88    47000        NaN
89    48000        NaN
90    50000        NaN

[91 rows x 2 columns]

In [9]:
code.rename(columns = {'RESD_CD':'행정구역코드','RESC_CT_NM':'시군구명'},inplace=True)
code

    행정구역코드 시군구명
0    11110  종로구
1    11140   중구
2    11170  용산구
3    11200  성동구
4    11215  광진구
..     ...  ...
86   45000  NaN
87   46000  NaN
88   47000  NaN
89   48000  NaN
90   50000  NaN

[91 rows x 2 columns]

In [10]:
#불필요한 행 삭제
code.drop(labels=range(25, 91), axis=0, inplace=True)
code

    행정구역코드  시군구명
0    11110   종로구
1    11140    중구
2    11170   용산구
3    11200   성동구
4    11215   광진구
5    11230  동대문구
6    11260   중랑구
7    11290   성북구
8    11305   강북구
9    11320   도봉구
10   11350   노원구
11   11380   은평구
12   11410  서대문구
13   11440   마포구
14   11470   양천구
15   11500   강서구
16   11530   구로구
17   11545   금천구
18   11560  영등포구
19   11590   동작구
20   11620   관악구
21   11650   서초구
22   11680   강남구
23   11710   송파구
24   11740   강동구

In [11]:
code['행정구역코드'] = code['행정구역코드'].astype(np.int64)
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역코드  25 non-null     int64
 1   시군구명    25 non-null     object
dtypes: int64(1), object(1)
memory usage: 528.0+ bytes

In [ ]:
gu = []
for i in range(len(floating_population_sliced)):
    floating_population_code = floating_population_sliced.자치구코드.iloc[i]
    code_index = code.index[code.행정구역코드 == floating_population_code][0]
    gu.append(code.시군구명.iloc[code_index])

In [ ]:
floating_population_mapped = floating_population_sliced
floating_population_mapped['행정동코드'] = gu
floating_population_mapped

In [ ]:
floating_population_mapped.drop(['자치구코드'],axis=1, inplace=True)
floating_population_mapped

In [ ]:
floating_population_mapped=floating_population_mapped.groupby(['행정동코드','기준일ID']).mean()

In [ ]:
floating_population_mapped.drop(['시간대구분'],axis=1, inplace=True)
floating_population_mapped

In [ ]:
floating_population_mapped['생활인구수']=floating_population_mapped['남자15세부터19세생활인구수']+floating_population_mapped['여자15세부터19세생활인구수']
floating_population_mapped
floating_population_mapped.drop(['남자15세부터19세생활인구수'],axis=1, inplace=True)
floating_population_mapped.drop(['여자15세부터19세생활인구수'],axis=1, inplace=True)
floating_population_mapped

In [ ]:
floating_population_mapped=floating_population_mapped.groupby(['행정동코드']).mean().reset_index()
floating_population_mapped

In [ ]:
floating_population_mapped.rename(columns = {'행정동코드':'시군구'},inplace=True)
floating_population_mapped

In [ ]:
# 저장 후 주석처리 
# floating_population_mapped.to_csv("D:/MultiCampus/DATAexam/융복합/ConvergenceProject-School_Violence-main/Data/2. Preprocessing_Data/Data/서울_고등학생_생활인구.csv", index=False)